#img {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.8;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  line-height: 90vh;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

* {
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

.navbar-toggler {
  margin: 0px;
  padding: 0px;
  margin-left: 5.5rem;
  width: 30px;
  height: 30px;
}

#logo {
  height: 3rem;
  width: 13rem;
}

#navbarSupportedContent {
  padding-left: 45rem;
}

.nav-link {
  font-weight: 600;
  text-align: center;
  margin: 0px 10px 0px 10px;
  color: black;
}

.nav-link:hover {
  transition: 0.8s;
  font-weight: 900;
  border-radius: 5px;
  background-color: #2bc1e77a;
}

#footer {
  width: 100%;
  padding: 30px;
  color: white;
  background-color: black;
  opacity: 0.7;
  font-weight: 500;
  position: absolute;
  font-family: "Roboto", sans-serif;
}

#name {
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}

#tagLine {
  margin: 0px;
  padding: 5px;
  text-align: center;
  color: white;
}

.block1 {
  margin: 20px;
  border-radius: 15px;
  padding: 20px;
  opacity: 0.7;
  background-color: #0086b3;
  position: relative;
  min-height: 15rem;
}

#aboutus {
  margin: 0px;
  padding: 35px;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  color: #2b2929;
}

.block2 {
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  opacity: 0.7;

  background-color: #ffffff;
  position: relative;
  min-height: 15rem;
}